.main{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.child1{
width:30%;
border:1px solid #000;
border radius:15px;
box-shadow:3px 3px 3px #000;
padding:2%;
margin:2%;
background-color: skyblue;
}
.child2{
width:70%;
border:1px solid #000;
border radius:15px;
box shadow:3px 3px 3px #000;
padding:2%;
margin:2%;
background-color: orange
}
